# Entorno virtual y Python
venv/
__pycache__/
*.pyc

# Datos locales y llaves secretas de producción
data/*.key
data/credentials.json
data/token.json

# Temporales de Excel / Logs
data/data_dia/
*.xls
*.xlsx

# Configuración IDE
.vscode/
.idea/
.env

# Excepción: SÍ rastrear la base de datos de usuarios
!data/users_db.json